html,body{width:100%;height:100%;padding:0;background:#2f3236;margin:0;color:#E4E4E4;}

header {
    background-color: #222427;
    color:#E4E4E4;
    padding: 8px 0px 8px 0px;
    position: relative;
    font-variant: small-caps;
	font-family: fantasy;
    text-shadow: 6px -1px 8px #00bff8;
 }
 
.disabled {
    pointer-events: none;
    cursor: not-allowed;
}
	
meniu1 {
	float:right;
	top:-9px;
	right:5px;
	position:absolute;}
	
meniu2 {
	float:right;
	top:-30px;
	right:5px;
	position:absolute;}
	
#wrapper {
    width: 930px;
	height:240px;
}
 
	
#wrapperS {
    width: 25%;
    overflow: auto;}
	
#first {
float: left;
    width: 300px;
	height:255px;
	background-color:#26292c;
}

#second {
border: 1px solid #b222427;
width:500px;
height:255px;
    margin: 0 0 0 302px;
	background-color:#26292c;
}

#mini {
	border: 1px solid #222427;
    margin: -255px 0px 0px 804px;
	background-color:#26292c;
	text-align:center;
}

#miniv {
    width: 180px;
    margin: 0px 0px -60px 0px;
    background-color: #2f3236;
}

#refresh {
    margin: -43px 0px 0px 1305px;
    position: absolute;
}

#refresh2 {
    margin: -43px 0px 0px 1232px;
    position: absolute;
}

#settings{
    margin: -43px 0px 0px 1159px;
    position: absolute;
}



.floating{
	    position: fixed;
    margin: -85px 0px 0px 800px;
}

#mini2 {
	width:520px;
	border: 1px solid #222427;
    margin: 20px 0px 0px 0px;
	background-color:#26292c;
	text-align:left;
}

#chatbox{
	width: 100%;
	height: 60px;
	background-color: #222427;
	
}
#chatbox2{
	width: 100%;
	height: 60px;
	background-color: #26292c;
	
}
#minievent {
    width: 500px;
    margin: -153px 0px 0px 936px;

	padding-right:20px;
}
#minichat {
    width: 500px;
    margin: 270px 0px 0px 0px;

}
iframe{
	border:none;
}

#sidbar{
    background-color: #222427;
	  width: 300px;
    height: 214px;
}

hr{
    border: 1px solid #ff5857;
    margin-bottom: 0px;
}

 .awesome {
	 -webkit-animation:colorchange 20s infinite alternate;
 }
     @-webkit-keyframes colorchange {
      0% {
        
        color: blue;
      }
      
      10% {
        
        color: #8e44ad;
      }
      
      20% {
        
        color: #1abc9c;
      }
      
      30% {
        
        color: #d35400;
      }
      
      40% {
        
        color: blue;
      }
      
      50% {
        
        color: #34495e;
      }
      
      60% {
        
        color: blue;
      }
      
      70% {
        
        color: #2980b9;
      }
      80% {
     
        color: #f1c40f;
      }
      
      90% {
     
        color: #2980b9;
      }
      
      100% {
        
        color: pink;
      }
    }

#wrapper2 {
    width: 803px;
    position:absolute;
	    margin: -350px 0px;
	background-color:#26292c;}
	
	#wrapperv {
    width: 550px;
    height: 250px;
    position: absolute;
}
	
#wrapper3 {
    width: 803px;
        margin: -201px 0px -80px 0px;
	}
	
	#buttonv
{
	  margin: -100px 0px 0px 250px;
    position: absolute;
}
	#buttonv2
{
	  margin: 20px 0px 0px 0px;
    position: absolute;
}

	#textv
{
    margin: -150px 0px 0px 200px;
    position: absolute;
}

.newt{
    position: absolute;
    margin: -43px 0px 0px 56px;
}
	
#Style1{
	width:800px;
	height:100%;
	background-color:#222427;
	color:#E4E4E4;
	padding:1px;
	overflow:auto;}

#box1{
	float:left;
	width:250px;}
	
#box2{
	float:left;}
	
	#howw .text {
position:relative;
bottom:0px;
left:0px;
visibility:hidden;
}

.rightpanel2
{        
    background-color:#26292c;
    width:30%;
    height:100%;
	margin: -120px 0px 0px 0px;
    float:right;
}​

.what{}

#wrapper:hover .text {
visibility:visible;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #222427;
}

.tooltip .tooltiptext, .tooltip .tooltipskills {
    visibility: hidden;
    width: 130px;
    background-color: #222427;
    color: #E4E4E4;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.tooltipskills{
    margin-top: 45px;
}

.tooltip:hover .tooltiptext, .tooltip .tooltipskills {
    visibility: visible;
}

table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid #222427;
}

.right-panel
{        
    background-color:#26292c;
    width:30%;
    height:100%;
	margin: -50px 0px 0px 0px;
    float:right;
}​

.what{}


a:-webkit-any-link {
    color: inherit;
    text-decoration: inherit;
    cursor: auto;
}

a:link, a:visited{
    color: #ff5857 !important;
    text-decoration: none !important;
}

a:hover, a:active{
    color: #ff5857 !important;
    text-decoration: underline !important;
}

.inventor{
display:inline;	
}

.tradebutton{
display: inline;
	color: #E4E4E4;
    background-color: #222427;
    border-width: 2px;
    border-style: outset;
    border-color: #2f3236;
}

input[type="submit"], button[type="submit"]{
    color: #E4E4E4;
    background-color: #222427;
    border-width: 2px;
    border-style: outset;
    border-color: #2f3236;
	    display: inline;
}

input[type="text"]{
    background-color: #222427;
    cursor: auto;
    color: #E4E4E4;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: #2f3236;
}
.less{
    color:#FF0000;
}
.more{
    color:#00CC00;
}
.same{
    color:#ff9900;
}

.normal{
    color:#888800;
}
.uncommon{
    color:#42b937;
}
.rare{
    color:#3760B9;
}
.epic{
    color:#666699;
}
.legendary{
    color:#800080;
}
.demonic{
    color:#c90e0e;
}
.angelic{
    color:#00e6e6;
}
.fake{
    color:#b3b5b4;
}
.primed{
    color:#00bfff;
}
.perlacent{
    color:#888800;
}
.bright{
    color:#cccc00;
}
.infested{
    color:#0b610b;
}
.world{
    color:#e67300;
}
.burning{
    color:#cc0000;
}
.physical{
    color:#ff0000;
}
.magic{
    color:#0066ff;
}
.health{
    color:#8a0000;
}
.energy{
    color:#4d79ff;
}
.defense{
    color:#993399;
}
.gold{
    color:#ff9900;
}
.shards{
    color:#00cc99;
}
.experience{
    color:#ee82ee;
}

.blur {-webkit-filter: blur(4px);filter: blur(4px);}
.brightness {-webkit-filter: brightness(0.30);filter: brightness(0.30);}
.contrast {-webkit-filter: contrast(180%);filter: contrast(180%);}
.grayscale {-webkit-filter: grayscale(100%);filter: grayscale(100%);}
.huerotate {-webkit-filter: hue-rotate(180deg);filter: hue-rotate(180deg);}
.invert {-webkit-filter: invert(100%);filter: invert(100%);}
.opacity {-webkit-filter: opacity(50%);filter: opacity(50%);}
.saturate {-webkit-filter: saturate(7); filter: saturate(7);}
.sepia {-webkit-filter: sepia(100%);filter: sepia(100%);}
.shadow {-webkit-filter: drop-shadow(8px 8px 10px green);filter: drop-shadow(8px 8px 10px green);}
.test { -webkit-filter: hue-rotate(50deg);}
.cool {-webkit-filter: drop-shadow(0px 0px 7px #00FF99) invert(100%);filter: drop-shadow(0px 0px 7px #00FF99) invert(100%);}

.lvltext{
    display: inline;
    position: absolute;
    margin: 3px 0px 0px 0px;
	}

progress {
	width: 130px;
	margin: 0px 0px 2px 0px;
	/* Important Thing */
	-webkit-appearance: none;
	border: none;
}

/* All good till now. Now we'll style the background */
progress::-webkit-progress-bar {
	background: black;
	border-radius: 50px;
	padding: 2px;
	box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}

/* Now the value part */
progress::-webkit-progress-value {
	border-radius: 50px;
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
	background:
		-webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, rgba(0, 0, 0, 0) 66%),
		-webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
		-webkit-linear-gradient(left, #5e9edc, #00ff99);
}
#stats {
    float:left;
    position: absolute;
    top:35px;
    left:0px;
    width: 300px;
    height: 320px;
    background-color: #26292c;
    border:1px solid black;
}
#equip {
    float:left;
    position: absolute;
    top:35px;
    left:301px;
    width: 400px;
    height: 320px;
    background-color: #26292c;
    border:1px solid black;
}
#social {
    float:left;
    position: absolute;
    top:35px;
    left:702px;
    width: 300px;
    height: 255px;
    background-color: #26292c;
    border:1px solid black;
}
#actions {
    float:left;
    position: absolute;
    top:450px;
    left:0px;
    width: 300px;
    height: 255px;
    background-color: #26292c;
    border:1px solid black;
}
#inventory {
    float:left;
    position: absolute;
    top:450px;
    left:350px;
    width: 300px;
    height: 255px;
    background-color: #26292c;
    border:1px solid black;
}
#mini3 {
    width: 180px;
      
}
#veil {

    position: relative;
    color: #E4E4E4;
    font-size: small;
    width: 125px;
}
#veilvl {

    position: relative;
    color: #E4E4E4;
    font-size: small;
    width: 122px;
}

#veil2 {

    position: relative;
    color: #E4E4E4;
    font-size: small;
    width: 125px;
}

#veilvl2 {

    position: relative;
    color: #E4E4E4;
    font-size: small;
    width: 122px;
}
