html,body{width:100%;height:100%;padding:0;background:#2f3236;margin:0;color:#E4E4E4;}

header {
    background-color: #222427;
    color:#E4E4E4;
    padding: 8px 0px 8px 0px;
    position: relative;
    font-variant: small-caps;
	font-family: fantasy;
    text-shadow: 6px -1px 8px #00bff8;
    border-bottom: 1px solid black;
    width: 100%;
 }
 
.disabled {
    pointer-events: none;
    cursor: not-allowed;
}
	
meniu1 {
	float:right;
	top:-9px;
	right:5px;
	position:absolute;}
	
meniu2 {
	float:right;
	top:-30px;
	right:5px;
	position:absolute;}
	
#wrapper {
    width: 930px;
	height:240px;
}
 
	
#wrapperS {
    width: 25%;
    overflow: auto;}
	
#first {
float: left;
    width: 300px;
	height:255px;
	background-color:#26292c;
}

#second {
border: 1px solid #b222427;
width:500px;
height:255px;
    margin: 0 0 0 302px;
	background-color:#26292c;
}

#mini {
	border: 1px solid #222427;
    margin: -255px 0px 0px 804px;
	background-color:#26292c;
	text-align:center;
}

#miniv {
    width: 180px;
    margin: 0px 0px -60px 0px;
    background-color: #2f3236;
}

#title{
    position: relative;
    display: inline;
}

#refresh {
    position: relative;
    float: right;
    display: inline;
}

#refresh2 {
    position: relative;
    float:right;
    display: inline;
}

#settings{
    position: relative;
    float: right;
    display: inline;
}



.floating{
	    position: fixed;
    margin: -85px 0px 0px 800px;
}

#mini2 {
	width:520px;
	border: 1px solid #222427;
    margin: 20px 0px 0px 0px;
	background-color:#26292c;
	text-align:left;
}

#chatbox{
	width: 100%;
	height: 60px;
	background-color: #222427;
	
}
#chatbox2{
	width: 100%;
	height: 60px;
	background-color: #26292c;
	
}
#minievent {
    width: 500px;
    margin: -153px 0px 0px 936px;

	padding-right:20px;
}
#minichat {
    width: 500px;
    margin: 270px 0px 0px 0px;

}
iframe{
	border:none;
}

#sidbar{
    background-color: #222427;
	  width: 300px;
    height: 214px;
}

hr{
    border: 1px solid #ff5857;
    margin-bottom: 0px;
}

 .awesome {
	 -webkit-animation:colorchange 20s infinite alternate;
 }
     @-webkit-keyframes colorchange {
      0% {
        
        color: blue;
      }
      
      10% {
        
        color: #8e44ad;
      }
      
      20% {
        
        color: #1abc9c;
      }
      
      30% {
        
        color: #d35400;
      }
      
      40% {
        
        color: blue;
      }
      
      50% {
        
        color: #34495e;
      }
      
      60% {
        
        color: blue;
      }
      
      70% {
        
        color: #2980b9;
      }
      80% {
     
        color: #f1c40f;
      }
      
      90% {
     
        color: #2980b9;
      }
      
      100% {
        
        color: pink;
      }
    }

#wrapper2 {
    width: 803px;
    position:absolute;
	    margin: -350px 0px;
	background-color:#26292c;}
	
	#wrapperv {
    width: 550px;
    height: 250px;
    position: absolute;
}
	
#wrapper3 {
    width: 803px;
        margin: -201px 0px -80px 0px;
	}
	
	#buttonv
{
	  margin: -100px 0px 0px 250px;
    position: absolute;
}
	#buttonv2
{
	  margin: 20px 0px 0px 0px;
    position: absolute;
}

	#textv
{
    margin: -150px 0px 0px 200px;
    position: absolute;
}

.newt{
    position: absolute;
    margin: -43px 0px 0px 56px;
}
	
#Style1{
	width:800px;
	height:100%;
	background-color:#222427;
	color:#E4E4E4;
	padding:1px;
	overflow:auto;}

#box1{
	float:left;
	width:250px;}
	
#box2{
	float:left;}
	
	#howw .text {
position:relative;
bottom:0px;
left:0px;
visibility:hidden;
}

.rightpanel2
{        
    background-color:#26292c;
    width:30%;
    height:100%;
	margin: -120px 0px 0px 0px;
    float:right;
}​

.what{}

#wrapper:hover .text {
visibility:visible;
}

.tooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted #222427;*/
}

.tooltip .tooltiptext, .tooltip .tooltipskills {
    visibility: hidden;
    width: 130px;
    background-color: #222427;
    color: #E4E4E4;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: fixed;
    z-index: 1;
}
.tooltipskills{
    margin-top: 45px;
}

.tooltip:hover .tooltiptext, .tooltip .tooltipskills {
    visibility: visible;
}

table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid #222427;
}

.right-panel
{        
    background-color:#26292c;
    width:30%;
    height:100%;
	margin: -50px 0px 0px 0px;
    float:right;
}​

.what{}


a:-webkit-any-link {
    color: inherit;
    text-decoration: inherit;
    cursor: auto;
}

a:link, a:visited{
    color: #ff5857 !important;
    text-decoration: none !important;
}

a:hover, a:active{
    color: #ff5857 !important;
    text-decoration: underline !important;
}

.inventor{
display:inline;	
height:15px;

}

.tradebutton{
display: inline;
	color: #E4E4E4;
    background-color: #222427;
    border-width: 2px;
    border-style: outset;
    border-color: #2f3236;
}

input[type="submit"], button[type="submit"]{
    color: #E4E4E4;
    background-color: #222427;
    border-width: 2px;
    border-style: outset;
    border-color: #2f3236;
	    display: inline;
}

input[type="text"]{
    background-color: #222427;
    cursor: auto;
    color: #E4E4E4;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: #2f3236;
}
.less{
    color:#FF0000;
}
.more{
    color:#00CC00;
}
.same{
    color:#ff9900;
}

.normal{
    color:#888800;
}
.uncommon{
    color:#42b937;
}
.rare{
    color:#3760B9;
}
.epic{
    color:#666699;
}
.legendary{
    color:#800080;
}
.demonic{
    color:#c90e0e;
}
.angelic{
    color:#00e6e6;
}
.fake{
    color:#b3b5b4;
}
.primed{
    color:#00bfff;
}
.perlacent{
    color:#008888;
}
.bright{
    color:#cccc00;
}
.infested{
    color:#0b610b;
}
.world{
    color:#e67300;
}
.burning{
    color:#cc0000;
}
.physical{
    color:#ff0000;
}
.magic{
    color:#0066ff;
}
.physicalArmor{
    color:#FFD700;
}
.magicArmor{
    color:#DF01D7;
}
.health{
    color:#8a0000;
}
.energy{
    color:#4d79ff;
}
.defense{
    color:#993399;
}
.gold{
    color:#ff9900;
}
.shards{
    color:#00cc99;
}
.experience{
    color:#ee82ee;
}

.blur {-webkit-filter: blur(4px);filter: blur(4px);}
.brightness {-webkit-filter: brightness(0.30);filter: brightness(0.30);}
.contrast {-webkit-filter: contrast(180%);filter: contrast(180%);}
.grayscale {-webkit-filter: grayscale(100%);filter: grayscale(100%);}
.huerotate {-webkit-filter: hue-rotate(180deg);filter: hue-rotate(180deg);}
.invert {-webkit-filter: invert(100%);filter: invert(100%);}
.opacity {-webkit-filter: opacity(50%);filter: opacity(50%);}
.saturate {-webkit-filter: saturate(7); filter: saturate(7);}
.sepia {-webkit-filter: sepia(100%);filter: sepia(100%);}
.shadow {-webkit-filter: drop-shadow(8px 8px 10px green);filter: drop-shadow(8px 8px 10px green);}
.test { -webkit-filter: hue-rotate(50deg);}
.cool {-webkit-filter: drop-shadow(0px 0px 7px #00FF99) invert(100%);filter: drop-shadow(0px 0px 7px #00FF99) invert(100%);}

.lvltext{
    display: inline;
    position: absolute;
    margin: 3px 0px 0px 0px;
	}

progress {
	width: 130px;
	margin: 0px 0px 2px 0px;
	/* Important Thing */
	-webkit-appearance: none;
	border: none;
}

/* All good till now. Now we'll style the background */
progress::-webkit-progress-bar {
	background: black;
	border-radius: 50px;
	padding: 2px;
	box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}

/* Now the value part */
progress::-webkit-progress-value {
	border-radius: 50px;
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
	background:
		-webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, rgba(0, 0, 0, 0) 66%),
		-webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
		-webkit-linear-gradient(left, #5e9edc, #00ff99);
}
#left{
    float:left;
    position:relative;
    height: 572px;
    background-color: #26292c;
    width: 654px;
}
#right{
    float:right;
    position:relative;
    height: 572px;
    background-color: #26292c;
    width: 502px;
}
#middle{
    display: block;
    overflow: hidden;
    position: relative;
    height: 572px;
    background-color: #26292c;
    border:1px solid black;
}
#stats {
    float:left;
    display: inline-block;
    position: relative;
    width: 300px;
    height: 320px;
    background-color: #26292c;
    border:1px solid black;
}
#equip {
    float:left;
    display: inline-block;
    position: relative;
    width: 350px;
    height: 320px;
    background-color: #26292c;
    border:1px solid black;
}

#social {
	float: right;
    display: inline-block;
    position: relative;
    width: 500px;
    height: 572px;
    background-color: #26292c;
    border:1px solid black;
}
#actions {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 100%;
    background-color: #26292c;
    border-top: 1px solid black;
    border-bottom: 2px solid black;
}

#inventory {
    float:left;
    position: relative;
    width: 652px;
    height: 250px;
    background-color: #26292c;
    border:1px solid black; 
}
#equipMod{
    position: absolute;
    width: 145px;
    height: 205px;
    bottom: 0px;
    right: 0px;
    padding-right: 1px;
}
#mini3 {
    width: 145px;
    position: absolute;
    height: 205px;
      
}
#veil {

    position: absolute;
    color: #E4E4E4;
    font-size: 11px;
    width: 112px;
    top: 108px;
    left:18px;
}
#veilvl {

    position: absolute;
    color: #E4E4E4;
    font-size: small;
    width: 100%;
    bottom: 1px;
    text-align: center;
}

#veil2 {

    position: absolute;
    color: #E4E4E4;
    font-size: small;
    width: 123px;
    top: 107px;
    left: 15px;
}

#veilvl2 {

    position: absolute;
    color: #E4E4E4;
    font-size: small;
    width: 145px;
    top: 186px;
    text-align: center;
}

#equipShadow{
    position: absolute;
    height: 320px;
    width: 200px;
    top:0px;
    left: 0px;
}
#equipWeapon{
    position: absolute;
    top: 135px;
    left: 3px;
}
#equipArms{
    position: absolute;
    top: 135px;
    left: 152px;
}
#equipLegs{
    position: absolute;
    bottom: 0px;
    left: 77px;
}
#equipRing{
    position: absolute;
    top: 155px;
    left: 77px;
}
#equipAmulet{
    position: absolute;
    top: 10px;
    left: 77px;
}
#equipBody{
    position: absolute;
    top: 70px;
    left: 77px;
}
#equipGem{
    position: absolute;
    top: 55px;
    left: 20px;
}
#personal{
    position: absolute;
    top: 0px;
    left: 0px;
    height:200px;
    width: 250px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
#leaderboard{
    position: absolute;
    top: 203px;
    left: 0px;
   /* height:200px; */
    width: 200px;
	border-bottom: 1px solid black;
}
#chat{
    position: absolute;
    top: 487px;
    left: 201px;
    height:30px;
    width: 20px;
    border:1px solid black;

}
#inventoryHead{
    position: relative;
    top: 0px;
    height: 30px;
    border-bottom:1px solid black;
    width: 100%;
}
.backpack{
    position: relative;
    height: 220px;
    width: 100%;
    overflow-x: hidden;
}
.items{
    float:left;
    width: 45px;
    border: 1px solid white;
    height: 60px;
    position: relative;
}
.inventoryButton{
	width:15px;
	height: 15px;
	float: left;
}
.inventoryButton2{
    width:30px;
    height: 15px;
    float: left;
}
.inventoryActions{
	height: 15px;
	position: absolute;
	top:45px;
}
#inventoryIcons{
	height: 45px;
}

#party{
	float: left;
    position: relative;
    top: 365px;
    width: 170px;
    height: 258px;
}

#result {
    position: absolute;
    left: 201px;
    top: -1px;
	border: 1px solid black;
}

#result2 {

}

.linksB {
	position: relative;
    bottom: 0%;
}
.actionButtons{
    float: left;
}
/*
http://stackoverflow.com/questions/29037023/how-to-calculate-required-hue-rotate-to-generate-specific-colour
how to define color
brightness(50%) sepia(1) this makes it hsl(38, 24%, 57%)
*/
.itemNormal{
    filter: brightness(50%) sepia(1) hue-rotate(22deg) saturate(176%) brightness(70%);
    -webkit-filter: brightness(50%) sepia(1) hue-rotate(22deg) saturate(176%) brightness(70%); 
}.itemUncomon{
    filter: brightness(50%) sepia(1) hue-rotate(77deg) saturate(130%) brightness(90%);
    -webkit-filter: brightness(50%) sepia(1) hue-rotate(77deg) saturate(130%) brightness(90%); 
}.itemRare{
    filter: brightness(50%) sepia(1) hue-rotate(183deg) saturate(130%) brightness(90%);
    -webkit-filter: brightness(50%) sepia(1) hue-rotate(183deg) saturate(130%) brightness(90%); 
}.itemEpic{
    filter: brightness(50%) sepia(1) hue-rotate(202deg) saturate(96%) brightness(93%);
    -webkit-filter: brightness(50%) sepia(1) hue-rotate(202deg) saturate(96%) brightness(93%); 
}.itemLegendary{
    filter: brightness(50%) sepia(1) hue-rotate(242deg) saturate(176%) brightness(68%);
    -webkit-filter: brightness(50%) sepia(1) hue-rotate(132deg) saturate(103.2%) brightness(91.2%); 
}.itemDemonic{
    filter: brightness(50%) sepia(1) hue-rotate(-38deg) saturate(163%) brightness(85%);
    -webkit-filter: brightness(50%) sepia(1) hue-rotate(-38deg) saturate(163%) brightness(85%); 
}.itemAngelic{
    filter: brightness(50%) sepia(1) hue-rotate(142deg) saturate(176%) brightness(88%);
    -webkit-filter: brightness(50%) sepia(1) hue-rotate(142deg) saturate(176%) brightness(88%); 
}.itemFake{
    filter: brightness(50%) sepia(1) hue-rotate(112deg) saturate(77%) brightness(114%);
    -webkit-filter: brightness(50%) sepia(1) hue-rotate(112deg) saturate(77%) brightness(114%); 
}.itemPrimed{
    filter: brightness(50%) sepia(1) hue-rotate(157deg) saturate(176%) brightness(93%);
    -webkit-filter: brightness(50%) sepia(1) hue-rotate(157deg) saturate(176%) brightness(93%); 
}.itemPerlacent{
    filter: brightness(50%) sepia(1) hue-rotate(142deg) saturate(176%) brightness(70%);
    -webkit-filter: brightness(50%) sepia(1) hue-rotate(142deg) saturate(176%) brightness(70%); 
}.itemBright{
    filter: brightness(50%) sepia(1) hue-rotate(22deg) saturate(176%) brightness(83%);
    -webkit-filter: brightness(50%) sepia(1) hue-rotate(22deg) saturate(176%) brightness(83%); 
}.itemInfested{
    filter: brightness(50%) sepia(1) hue-rotate(82deg) saturate(156%) brightness(105%);
    -webkit-filter: brightness(50%) sepia(1) hue-rotate(82deg) saturate(156%) brightness(105%); 
}.itemWorld{
    filter: brightness(50%) sepia(1) hue-rotate(-8deg) saturate(176%) brightness(88%);
    -webkit-filter: brightness(50%) sepia(1) hue-rotate(-8deg) saturate(176%) brightness(88%); 
}.itemBurning{
    filter: brightness(50%) sepia(1) hue-rotate(-38deg) saturate(176%) brightness(83%);
    -webkit-filter: brightness(50%) sepia(1) hue-rotate(-38deg) saturate(176%) brightness(83%); }
.itemUnique{
	 -webkit-animation-name: example;
	-webkit-animation-iteration-count: infinite;
	 -webkit-animation-duration: 10s;
	}
@-webkit-keyframes example {
    from {	 -webkit-filter: brightness(50%) sepia(1) hue-rotate(-360deg) saturate(176%) brightness(100%);	}
    to {	 -webkit-filter: brightness(50%) sepia(1) hue-rotate(360deg) saturate(176%) brightness(100%);	}
}

.sell{
	padding-left: 30px;
    height: 15px;
}
.auctionbox{
    border: 1px solid black;
    border-radius: 6px;
    z-index: 1;
}
.sellall{
    position: absolute;
    padding-top: 3px;
    border: solid 1px red;
    margin: 2px 0px 0px 364px;
}

.Combo1{
	position: absolute;
	margin-left: 185px;
    margin-top: -13px;
	color: white;
	font-size:20px;
	-webkit-animation-name: combo1;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 3s;
}
@-webkit-keyframes combo1 {
    0% {	 text-shadow: 1px 1px 2px black, 0 0 0px blue, 0 0 5px darkblue;	}
    50% {	 text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;	}
	100% {	 text-shadow: 1px 1px 2px black, 0 0 0px blue, 0 0 5px darkblue;	}
}

.Combo2{
	position: absolute;
	margin-left: 185px;
    margin-top: -13px;
	color: white;
	font-size:23px;
	-webkit-animation-name: combo2;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 3s;
}
@-webkit-keyframes combo2 {
    0% {	 text-shadow: 1px 1px 2px black, 0 0 0px red, 0 0 5px darkred;	}
    50% {	 text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px darkred;	}
	100% {	 text-shadow: 1px 1px 2px black, 0 0 0px red, 0 0 5px darkred;	}
}

.Combo3{
	position: absolute;
	margin-left: 185px;
    margin-top: -13px;
	color: white;
	font-size:25px;
	-webkit-animation-name: combo3;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 3s;
}
@-webkit-keyframes combo3 {
    0% {	 text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px darkred;	}
	30% {	 text-shadow: 1px 1px 2px black, 0 0 25px orange, 0 0 5px darkorange;	}
	70% {	 text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;	}
	100% {	 text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px darkred;	}
}

.Combo4{
	position: absolute;
	margin-left: 185px;
    margin-top: -13px;
	color: white;
	font-size:28px;
	-webkit-animation-name: combo4;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 2s;
	-webkit-animation-direction: alternate;
}
@-webkit-keyframes combo4 {
    0% {	 text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px darkred;	}
	15% {	 text-shadow: 1px 1px 2px black, 0 0 25px orange, 0 0 5px darkorange;	}
	30% {	 text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;	}
	45% {	 text-shadow: 1px 1px 2px black, 0 0 25px green, 0 0 5px darkgreen;	}
	60% {	 text-shadow: 1px 1px 2px black, 0 0 25px yellow, 0 0 5px darkyellow;	}
	75% {	 text-shadow: 1px 1px 2px black, 0 0 25px lightblue, 0 0 5px darkblue;	}
	90% {	 text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px grey;	}
	100% {	 text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px darkred;	}
}




